/*CSS reset*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*Pseudo-classes*/

/*Generics*/
body{
    font-family: 'Lobster', cursive;
    font-family: 'PT Sans', sans-serif; 
}
header{
    width: 100%;
    min-height: 70px;
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
/*Utilties*/
.conteiner{
    margin: 40px auto 40px auto;
    width: 300px;
    border: dashed black 1px;
    border-style: inset;
}
.row{
    background-color: lightgoldenrodyellow;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.col{
    width: 90%;
    min-height: calc(100vh / 2.8);
    background-color: rgb(254, 218, 173);
    border: solid red 1px;
    margin-bottom: 30px;
}
.card{
    border: dashed black 1px;
    background-color: white;
    margin: 2px;
    height: 100%;
    border-radius: 25px;
}
/*Sidebar*/
.nav_link{
    border: solid black 1px;
    border-style: inset;
    margin: 15px 30px 15px 30px;
}
.fa-bars{
    padding-top: 19px;
}
/*First row*/
.frs_cl{
    width: 90%;
    background-color: rgb(254, 218, 173);
    border: solid red 1px;
    min-height: 55vh;
}
.card_content{
    background-color: white;
    border: dashed black 1px;
    margin: 20px;
    height: 250px;
}
#card_content_long{
    background-color: rgb(255, 255, 255);
    border: dashed black 1px;
    margin: 20px;
    height: 200px;
}
#blu_card_img{
    background-color: white;
    border: dashed black 1px;
    margin: 20px 20px 0px 20px;
    height: 200px;
}
.frs_cl{
    margin-bottom: 30px;

}
@media screen and (min-width:480px) {
    .conteiner{width: 100%;}
    .col{margin-bottom: 0%;}
    .frs_cl{width: calc(100% - 50%);margin-bottom: 0;}
    .resp_frs{flex-direction: row;justify-content: center;gap: 15px;margin: 0;}
    .size_cl{width: calc(100% / 3.5);height: 450px;}
    .card_content{height: 250px;}
}
/*second row*/
.sec{
    margin-top: 0;
}
/*Third row*/
.thr{
    margin-top: 30px;
}
/*Benefits*/
.ben{
    margin: 0 auto 0 auto;

}
/*About us*/
