/*CSS reset*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*Pseudo-classes*/

/*Generics*/
body{
    font-family: 'Lobster', cursive;
    font-family: 'PT Sans', sans-serif; 
}
header{
    min-height: 70px;
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
}
/*Utilties*/

/*Sidebar*/
.nav_link{
    border: solid black 1px;
    border-style: inset;
    margin: 15px 30px 15px 30px;
}
.fa-bars{
    padding-top: 19px;
}