/*CSS reset*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*Pseudo-classes*/

/*Generics*/
body{
    font-family: 'Lobster', cursive;
    font-family: 'PT Sans', sans-serif; 
}
header{
    min-height: 70px;
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
/*Utilties*/
.conteiner{
    margin: 40px auto 40px auto;
    width: 300px;
    border: dashed black 1px;
    border-style: inset;
}
.row{
    background-color: lightgoldenrodyellow;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
.col{
    width: 90%;
    min-height: calc(100vh / 2.8);
    background-color: rgb(254, 218, 173);
    border: solid red 1px;
}
.card{
    border: dashed black 1px;
    margin: 20px;
    height: 100%;
    border-radius: 25px;
}
/*Sidebar*/
.nav_link{
    border: solid black 1px;
    border-style: inset;
    margin: 15px 30px 15px 30px;
}
.fa-bars{
    padding-top: 19px;
}
.frs_cl{
    width: 90%;
    background-color: rgb(254, 218, 173);
    border: solid red 1px;
    min-height: 60vh;
}