/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 /*Pseudo-classes*/
 
 /*Generics*/
 body{
     font-family: 'Lobster', cursive;
     font-family: 'PT Sans', sans-serif; 
 }
 header{
    padding-top: 17px;
    min-height: 80px;
    width: 100%;
    background-color: #0084fd;
}
img{
    object-fit: initial;
}
/*Utilties*/
.conteiner{
    width: 80%;
    border: solid red 1px;
    margin: auto;
    padding: 50px 0 50px 0;
}
.row{
    background-color: rgb(187, 229, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.col{
    border: solid #0084fd 1px;
    border-radius: 25px;
    position: relative;
}

/*Sidebar*/
.hd_cont{
    width: 80%;
    border: solid red 1px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    height: 50px;
}

.nav_link{
    line-height: 50px;
}

/*First row*/
.line_space{
    margin-bottom: 25px;
}
.phone{
    width: 100%;
}
.flex-cardleft{
    padding: 15px;
}
.flex-cardright{
    background-color: #0083fd2d;
}
.fa-house{
    line-height: 90px;
    font-size: 80px;
}
.main_card{
    text-align: center;
    padding: 20px;
}
@media screen and (min-width:768px) {
    .conteiner{width: 90%;}
    .hd_cont{width: 90%;}
    .row{flex-direction: row;gap: 20px;justify-content: center;}
    .phone{width: 200px;padding-left: 15px;}
    .frs_c{width: 425px}
    .main_card{width: 200px;}
}
@media screen and (min-width:1024px) {
    .conteiner{width: 1000px;}
    .hd_cont{width: 1000px;}
    .row{flex-direction: row;gap: 20px;justify-content: center;}
    .phone{width: 200px;padding-left: 15px;position: relative;}
    .frs_c{width: 581px; display: flex;}
    .main_card{width: 280px;}
}
@media screen and (min-width:1400px) {
    .conteiner{width: 1000px;}
    .hd_cont{width: 1000px;}
    .row{flex-direction: row;gap: 20px;justify-content: center;}
    .phone{width: 200px;padding-left: 15px;position: relative;}
    .frs_c{width: 581px; display: flex;}
    .main_card{width: 280px;}
}


/*second row*/
.cr-2{
    background-color: #9792e4;
}
.size_img_sec_rw{
    width: 100%;
    padding-bottom: 50px;
}
.line_spac-2{
    text-align: center;
    padding: 10px 30px 20px 30px;
}
#purple_bt{
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 30px;
}


@media screen and (min-width:768px) {
    .cl-2{width: 94%;}
}
@media screen and (min-width:1024px) {
    .cr-2{width: 100%;}
    .cl-2{width: 400px;}
    .row{flex-direction: row;}
}

@media screen and (min-width:1400px) {}


/*Third row*/

/*Benefits*/

/*About us*/

/*It's free*/

/*Footer*/


